.nav-tag{
    color: #ffff;
    font-weight: 700;
    padding: 0px 15px;
}

.navbar{
    padding:20px 30px;
    font-size: 20px;
}

.button{
    background-color: #fff;
    color:#032248;
    font-weight: 700;
    padding: 5px 20px;
    border-radius: 15px;
}